<mat-toolbar color="primary">
  <div class="logoContainer">
    <h1>{{title}}</h1>
  </div>
  <span class="spacer"></span>
  <a mat-raised-button color="primary" routerLink="/landingpage">HOME</a>
  <a mat-raised-button color="primary" routerLink="/create-listing">ANZEIGE ERSTELLEN</a>
  <a mat-raised-button color="primary" routerLink="/listings">ANZEIGEN</a>

  <a mat-flat-button color="primary" routerLink="/login">Login</a>

  <a mat-flat-button color="primary" routerLink="/cart">WARENKORB</a>
</mat-toolbar>

<router-outlet></router-outlet>
