.mat-mdc-form-field {
    width: 400px; 
    margin-left: 30%;
    margin-top: 30px;
    }


    .modal {
        position: relative; /* Position the modal in the center of the screen */
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        width:50%; 
        height:50%;
        tab-index:-1; 
      }