<div>
    <div>
        <label for="name">Name: </label>
        <input name="name" type="text" [(ngModel)]="name">
        <br>
        <label for="brand">Brand: </label>
        <input name="brand" type="text" [(ngModel)]="brand">
        <br>
        <label for="price">Price: </label>
        <input name="price" type="number" [(ngModel)]="price">
        <br>
        <label for="desc">Description: </label>
        <input name="desc" type="text" [(ngModel)]="desc">
        <br>
        <label for="imageUrl">ImageUrl: </label>
        <input name="imageUrl" type="text" [(ngModel)]="imageUrl">
    </div>
       <button (click)="createCocktail()">
        Create Product
    </button>
</div>
<div>
    <mat-grid-list cols="2" rowHeight="400px" *ngIf="cocktails">
        <div *ngFor="let cocktail of cocktails">
            <div>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <img [src]="cocktail.image" style="height: 300px">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <p style="font-size: 20px;">{{cocktail.id}} <br> {{cocktail.name}} <br> {{cocktail.brand}} <br> {{cocktail.price}} <br> {{cocktail.desc}}</p>
                </mat-grid-tile>
            </div>   
        </div>
    </mat-grid-list>
</div>