<mat-card class="container">

  <div *ngIf="error">
    {{errorMessage}}
  </div>

  <h2 [hidden]="state !== stateEnum.LOGIN">Login</h2>
  <h2 [hidden]="state !== stateEnum.REGISTER">Registrierung</h2>
  <h2 [hidden]="state !== stateEnum.RESET">Passwort Reset</h2>

  <div class="inputContainer">
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="E-Mail" type="email" [(ngModel)]="user.username" required>
      </mat-form-field>
    </div>

    <div *ngIf="state === stateEnum.REGISTER">
      <mat-form-field appearance="fill">
        <input matInput placeholder="E-Mail" type="email" [(ngModel)]="registerUsername">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field *ngIf="state !== stateEnum.RESET" appearance="fill">
        <input matInput placeholder="Passwort" type="password" [(ngModel)]="user.password">
      </mat-form-field>
    </div>
    <div *ngIf="state === stateEnum.REGISTER">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Passwort" type="password" [(ngModel)]="registerPassword">
      </mat-form-field>
    </div>
  </div>
  <br>
  <button mat-raised-button color="primary" *ngIf="state === stateEnum.LOGIN" (click)="login()">Absenden</button>
  <button mat-raised-button color="accent" *ngIf="state !== stateEnum.LOGIN" (click)="back()">Zurück</button>
  <button mat-raised-button color="accent" *ngIf="state !== stateEnum.LOGIN" (click)="send()">Absenden</button>
  <button mat-raised-button color="accent" *ngIf="state === stateEnum.LOGIN" (click)="register()">Registrieren</button>
  <br>
  <button mat-button color="primary" *ngIf="state !== stateEnum.RESET" (click)="resetPW()">Passwort vergessen</button>
  <div *ngIf="pwResetSuccess">
    Passwort reset wird in kürze ausgeführt.
  </div>
</mat-card>
